<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>SELETORES</title>
		<link rel="stylesheet" type="text/css" href="css/css.css">
	</head>
	<body>
		<figure>
			<p>HTML & CSS3</p>
		</figure>
			<nav>
				<ul class="menu">
					<li><a href="home.html">HOME</a></li>
					<li><a href="pagHTML.html">HTML</a></li>
					<li><a href="seletores.html">CSS</a></li>
					<li><a href="curriculun.html">SOBRE</a></li>
					<li><a href="formulario.html">CADASTRE-SE</a></li>
				</ul>
			</nav>
			<aside>
			&lt;TOPICOS&gt;</br>&lt;ESPECIAS&gt;
			</aside>
			<section>
				<h1>Ronicley Silva de Sá</h1>
				<article>
				Endereço: 308 sul al 05 lote 16</br>
				Telefone para contato: 84058635
				</article>
				<h2>Formações</h2>
				<article>
				Formado Centro universitario luterano de palmas</br>
				Curso de montagem e manutençao de computadores
				</article>
				<h2>Experiencias profissifionais</h2>
				<article>A procura de experiências profissionais</article>
				<h2>Objetivos</h2>
				<article>
				Ter o primeiro emprego</br>
				Procurar crescer dentro da empresa</br>
				Ter experiências profissifionais
				</article>
			</section>
	</body>
</html>			
			
		
			
		