<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>HOME</title>
		<link rel="stylesheet" type="text/css" href="css/css.css">
	</head>
	<body>
	<figure>
		<p>HTML & CSS3</p>
	</figure>
		<nav>
			<ul class="menu">
				<li><a href="home.html">HOME</a></li>
				<li><a href="pagHTML.html">HTML</a></li>
				<li><a href="seletores.html">CSS</a></li>
				<li><a href="curriculun.html">SOBRE</a></li>
				<li><a href="formulario.html">CADASTRE-SE</a></li>
			</ul>
		</nav>
		<aside>
			&lt;TOPICOS&gt;</br>&lt;ESPECIAS&gt;
		</aside>
			<article>
					<section>
					<header><h1>O que é HTML 5</h1></header>
						<p>HTML5 (Hypertext Markup Language, versão 5)<br> 
						é uma linguagem para estruturação e apresentação de conteúdo<br>
						para a World Wide Web e é uma tecnologia chave da Internet<br>
						originalmente proposto por Opera Software. É a quinta<br>
						versão da linguagem HTML. Esta nova versão traz consigo<br>
						importantes mudanças quanto ao papel do HTML no<br>
						mundo da Web, através de novas funcionalidades como semântica <br>
						e acessibilidade. Possibilita o uso de novos recursos antes <br>
						possíveis apenas com a aplicação de outras tecnologias. Sua essência<br>
						tem sido melhorar a linguagem com o suporte para as mais recentes <br>
						multimídias, enquanto a mantém facilmente legível por seres humanos<br>
						e consistentemente compreendida por computadores e outros dispositivos <br>
						(navegadores, parsers etc). O HTML5 será o novo padrão para HTML, <br>
						XHTML, e HTML DOM. Atualmente, está em fase de esboço, porém diversos<br>
						navegadores já implementam algumas de suas funcionalidades.<br>
						Mais em <a href="https://pt.wikipedia.org/wiki/HTML5">Wikipedia</a></p>
					</section>
			</article>
		<footer>
		</footer>	
	</body>
</html>