<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Ronicley Silva de Sá" />
		<title>HTML</title>
		<link rel="stylesheet" type="text/css" href="css/css.css">
	</head>
	<body>
		<figure>
			<p>HTML & CSS3</p>
		</figure>
		<nav>
			<ul class="menu">
				<li><a href="home.html">HOME</a></li>
				<li><a href="pagHTML.html">HTML</a></li>
				<li><a href="seletores.html">CSS</a></li>
				<li><a href="curriculun.html">SOBRE</a></li>
				<li><a href="formulario.html">CADASTRE-SE</a></li>
			</ul>
		</nav>
		<aside>
			&lt;TOPICOS&gt;</br>&lt;ESPECIAS&gt;
		</aside>
		
		<article>
				<section>
					<header>
							<h1>Tags de Texto:</h1>
					</header>
							<p>&lt;b&gt; Texto em negrito;</br>
							&lt;strog&gt; Negrito em HTML5;</br>
							&lt;i&gt; Maior ênfase em itálico, &lt;em&gt; Texto em itálico;</br>
							&lt;u&gt; Texto sublinhado</br>
							&lt;sup&gt; Texto subscrito, &lt;sub&gt;, texto sobrescrito;</br>
							&lt;br/&gt; Representa querbra de linha.</br>
							&lt;hx&gt; São elementos que representam os seis níveis de titulos de<br/>
							cabeçalhos dos documentos. Um elemento título descreve brevemente o tema da seção.</br>
							&lt;blockquote&gt; Representa uma citação.</br>
							&lt;pre&gt; Indica que o seu conteúdo é pré-formatado e que este formato deve ser preservada.</br>
							&lt;hr&gt; Representa uma ruptura temática entre parágrafos de um artigo ou seção ou qualquer conteúdo mais longo.</p>
				</section>
				
				<section>
						<header>
							<h1>Tags de Listas:</h1>
						</header>
						<h3>&lt;ol&gt;</h1>
				
							<p>Representa uma lista ordenada de itens.  Tipicamente, listas ordenandas<br>
							de items são mostradas com um número precente, o qual pode ser de qualquer tipo,<br>
							como números, letras, numeros romanos ou ainda simples símbolos. Esse estilo<br>
							numerado não é definido no html da página, mas sim no CSS associado, usando a propriedade list-style-type.</p>
						<h3>&lt;ul&gt;</h1>
				
							<p> Representa uma lista desordenada de itens, ou seja, uma coleção de itens que não têm uma ordem numérica,<br>
							e sua ordem na lista é sem sentido. Normalmente, os itens de lista desordenada são <br>
							exibidas com um simbolo, que pode ser de várias formas, como um ponto, um círculo<br>
							ou um quadrado. O estilo de marcador não é definido na descrição do HTML da página,<br>
							mas em seu CSS associada, utilizando a propriedade list-style-type</p>
						<h3>&lt;li&gt;</h1>
				
							<p>O HTML List item element (&lt;li&gt;) é usado para representar um item de<br>
							lista. Ele deve estar contido em uma lista ordenada (&lt;ol&gt;), uma lista não ordenada<br>
							(&lt;ul&gt;) ou um menu (&lt;menu&gt;), onde representa uma única entidade na referida lista.</br>							Em listas ordenadas , eles são geralmente<br> 
							exibido com alguns contador ascendente do lado esquerdo , como um número ou letra.</p>
				</section>
		
				<section>
						<header>
							<h1>Tags de Links:</h1>
						</header>
						<h3>&lt;link&gt;</h3>
							<p>Especifica as relações entre o documento atual e um recurso externo.<br>
							Possíveis usos para este elemento incluem a definição de uma estrutura<br>
							relacional para navegação. Este elemento é mais usado para vincular as folhas de estilo.
							</p>
						
				</section>
		
				<section>
						<header>
							<h1>Tags de Imagens:</h1>
						</header>
						<h3>&lt;img&gt;</h3>
						<p>representa a inseração de imagem no documento, sedo implementado<br>
						também pelo HTML5 para uma melhor experiência<br>
						com o elemento &lt;figure&gt; e &lt;figcaption&gt;.</p>
						
				</section>
				<section>
						<header>
							<h1>Tags de Tabelas:</h1>
						</header>
						<h3>&lt;div&gt;</h3>
						<p> Representa um contêiner genérico sem nenhum significado especial.</p>
						<h3>&lt;span&gt;</h3>
						<p> Representa Representa o texto com nenhum significado específico.<br>
						Isso tem que ser usado quando nenhum outro elemento do texto-semântico transmite<br>
						um significado adequado, o que, neste caso, é muitas vezes trazido por atributos globais,<br>
						como classe, lang, ou dir.</p>
				</section>
				<section>
						<header>
							<h1>Diferenças entre &lt; div &gt; e &lt; span &gt; :</h1>
						</header>
						<p>
							Ambos são tags utilizadas para <mark>agrupar blocos HTML</mark> e aplicar alguma função a esse bloco.<br/>
							A diferença entre os dois é que <strong>span</strong> é utilizado para um pequeno bloco de HTML, e é um elemento <em>inline</em>
							(Ocupa apenas o espaço necessário e não inicia uma nova linha no documento. São chamados elementos
							em linha justamente por aparecer na mesma linha que outros elementos,
							caso seja possível).<br/>Já o <strong>div</strong>
							é usado para agrupar grupos maiores de código e é um elemento <em>block</em> o que basicamente é equivalente
							a ter uma quebra de linha antes e depois do elemento.
						</p>
				</section>
				<section>
						<header>
							<h1>NOVOS ELEMENTOS</h1>
						</header>
						<h3>&lt;article&gt;</h3>
						<article>
						Conteúdo autossuficiente;</br>
						Exemplos:</br>
						Post em um fórum;</br>
						Artigo de revista ou jornal;</br>
						Matéria de um blog;</br>
						Comentário de um visitante;</br>
						Pode ser aninhados, desde que exista realmente a dependência</br>
						semântica;</br>
						Exemplo uma resposta em um comentário;</br>
						</article>
						<h3>&lt;section&gt;</h3>
						<article>
						Marca uma seção na página;</br>
						Seção é um grupamento de conteúdo tratando de um</br>
						mesmo assunto;</br>
						Geralmente possui um header e um footer</br>
						</article>
						<h3>&lt;nav&gt;</h3>
						<article>Demarcar uma seção da página que contenha grupamentos</br>
						de links para navegação;
						</article>
						<h3>&lt;mark&gt;</h3>
						<article>
						Destacar um trecho importante para o contexto atual;</br>
						Efeito “marca texto”;
						</article>
						<h3>&lt;Header&gt;</h3>
						<article>
						Mesmo funcionamento do footer, só que para cabeçalhos;
						</article>
						<h3>&lt;Footer&gt;</h3>
						<article>
						Elemento para marcar o rodapé de uma seção ou página;
						</article>
						<h3>&lt;Figure&gt; &lt;FigCaption&gt;</h3>
						<article>
						Fornece um container para elementos que, embora sejam</br>
						relacionados com o conteúdo principal, podem ser movidos</br>
						ou reposicionados sem prejuízo do entendimento;</br>
						Exemplo:</br>
						Imagens;</br>
						Vídeos;</br>
						Citações;</br>
						Diagramas;
						</article>
						<h3>&lt;Aside&gt;</h3>
						<article>
							Conteúdo relacionado ao assunto principal;</br>
							Embora relacionado, sua retirada não prejudica a compreensão</br>
							do conteúdo principal;</br>
							Exemplo:</br>
							Barras laterais;</br>
							Banners;</br>
							Textos com propaganda;</br>
							Agrupamento de links relacionados;
						</article>
				</section>
				<section>
					<header>
						<h2>FORMULARIO<h2>
						<h3>&lt;form&gt;</h3>
					</header>
					<article>
						<ul>
							<li>Usada para coletar dados do usuário</li>
							<ol>
								<li>&lt;input>:Representa um campo do formulário;</li>
								<ol>
									<li>Atributo “name” obrigatório;</br>
									Pode ser dos tipos (atributo “type”):
									</li>
									<ol>
										<li>text;</li>
										<li>password;</li>
										<li>submit;</li>
										<li>radio;</li>
										<li>checkbox;</li>
										<li>button;</li>
										<li>number;</li>
										<li>range;</li>
									</ol>
								</ol>
								<li>&lt;select></li>
									<ol>
										<li>Cria um drop down list;</li>
										<li>Opções com a tag option;</li>
									</ol>
								<li>&lt;textarea></li>
									<ol>
										<li>Campo com várias linhas</li>
									</ol>
								<li>&lt;button></li>
									<ol>
										<li>Cria um botão;</li>
										<li>Não faz o submit automático do formulário;</li>
										<li>Pode conter imagem no interior do botão;</li>
									</ol>
							</ol>
						</ul>
						<img src="images/cats.jpg" alt="formulario"></img>
						
					</article>
		</article>
		
		<footer>
		</footer>	
	</body>
</html>